body {
  background-color: #f9dbbd;
  font-family: "Lucida Console", Courier, monospace;
  color: #2c2b2c;
  margin: 5em;
  padding: 1em;
}

.form {
  font-family: "Lucida Console", Courier, monospace;
  background-color: #d6d7e3;
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  padding: 10px;
  
  
}

.App {
  text-align: center;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-weight:bold;
}

.App-link {
  text-decoration: none;
  color: crimson;
  font-weight: bold; 
  width: 300px;
  height: 100px;
  background: #f7d6e0;
  border-radius: 1px;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#exercises {
  margin-left: auto;
  margin-right: auto;
}

tr, th {
  color: rgb(110, 11, 87);
  text-align: center;
  padding: 1em;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr, td {
  background-color: #fcb1a6;
  text-align: center;
  padding: 1em;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffa5ab;
  color: rgb(110, 11, 87);
}

.submit-button {
  background-color: #ffa5ab;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #444248;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}